body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.card {
	border-radius: 10px;
}

.card.-m {
	padding: 30px 54px;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
}

.card.-l {
	padding: 64px 54px;
}

.card__name {
	color: var(--blue);
	margin-bottom: 10px;
	font-size: 23px;
}