.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white-gradient-bg1);
	height: 250px;
	width: 250px;
	border-radius: 50%;
	text-align: center;
	color: var(--blue);
}

.circle.-article {
	position: absolute;
	bottom: 100px;
}

.circle__text {
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 10px;
}

.circle__title {
	font-size: 37px;
}

.circle__link {
	color: var(--blue);

}

@media screen and (max-width: 567px) {
	.circle.-article {
		bottom: 70px;
	}
}

@media screen and (max-width: 439px) {
	.circle.-article {
		bottom: 0;
	}
}
